html {
  background-color: #fefefe;
  font-family: "Karla", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body > .container {
  margin-top: 4em;
  min-height: 82vh;
}

.separator-fixed-nav {
  height: 53px;
  display: block;
}

p {
  font-size: 1.2rem;
}

a {
  color: midnightblue;
}

a:hover {
  color: tomato;
}

.navbar {
  z-index: 9;
}

.navbar li a {
  font-size: 1.5rem;
}

.brand-logo {
  font-family: Lobster;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.rounded-img {
  border-radius: 50%;
}

.event {
  fill: #8c2a3a;
}

.content-post {
  max-width: 800px;
  margin: auto;
}

.fixed {
  position: sticky;
}

.avatar-image {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-image: url("/assets/images/profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: grayscale(90); */
  display: inline-block;
  position: relative;
}

.avatar-image:hover {
  filter: unset;
}

.label-text {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #777;
  margin-bottom: 0;
}

.profile-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.7em;
  color: #666;
  line-height: 1;
  margin: 0.5em 0;
}

.profile-subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: #666;
  max-width: 500px;
  margin: auto;
}

.networks {
  list-style-type: none;
  margin-top: 0px;
}

.networks .service {
  display: inline-block;
  margin: 0.15em;
  font-size: 1.5em;
}

.networks .service a.icon {
  color: #666;
  transition: all 0.3s;
}

.networks .service a.icon:hover {
  color: midnightblue;
  font-size: 1.1em;
}

hr {
  margin: 1.2em 0;
}

.px-5 {
  padding: 1.5em;
}

footer {
  margin-top: 2em;
  margin-bottom: 0.8em;
}

footer p {
  font-size: 1em;
}

p.meta {
  font-size: 1.1em;
  color: #555;
}

.height-100 {
  height: 100%;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -ms-flex-align: center;
  align-items: center;
}

.sad-icon {
  font-size: 22em;
  margin: 0;
}

.abstract {
  padding: 0 2em;
  font-size: 14px;
  max-width: 500px;
  margin: auto;
}

.spread-list ul li {
  margin-bottom: 0.5em;
}

/**
 * Posts
 */

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post-title {
  font-size: 2.8rem;
  color: midnightblue;
}

h2 {
  font-size: 2.2rem;
}

.post h1 {
  color: #666;
  margin-bottom: 0.1em;
}

.post h2 {
  margin-bottom: 0.1em;
}

.post p {
  font-family: "Karla", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.post-info {
  margin: 0.5em 0;
}
.post-info > * {
  display: inline;
}

img {
  margin: auto;
  height: auto;
  max-width: 90vw;
  width: 100%;
}

img.img-overflow {
  width: 110%;
}

@media (min-width: 590px) {
  img.img-overflow {
    margin-left: -5%;
  }
}

/**
 * Nav bar
 */
.nav {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.nav li {
  display: inline-grid;
  margin: 0 0.3em;
  width: 60px;
}

.nav li a {
  color: #555;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (max-width: 600px) {
  .nav li {
    width: 23%;
  }
}

/**
 * ARCHIVE
 */

.archive li .row {
  margin-bottom: 4px;
}

.archive a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.archive a p {
  font-size: 1.1em;
}

.left-pane-archive {
  padding-right: 4px !important;
}

.right-pane-archive {
  padding-left: 4px !important;
}

.about p {
  font-size: 1.15rem;
}

.about p.highlight {
  font-size: 1.5em;
}
