---
layout: default
title: Blanca Azucena López Garduño
---
<div class="row">
  <div class="col s12 m8 fixed">
    <div class="posts">

      {% for post in site.posts %}
      <div class="post">
        <a href="{{ post.url }}" title="{{ post.title }}">
          <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <span>{{ post.date | date_to_string }}</span>
        <img src="{{ post.image }}" alt="{{ post.imageAltText }}" srcset="">
        <div>
          {% if post.description %}
          {{ post.description }}
          {% else %}
          {{ post.excerpt }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="profile center-align">
      <div class="avatar-image"></div>
      <div class="profile-title">Blanca Azucena
        <br>López Garduño</div>
      <div class="profile-subtitle">
        CS Engineer. Software developer. I like music, drawing, cooking and making DIY stuff. I don't like horror movies
      </div>
      <hr>
      <p class="label-text">Contacto</p>
      <ul class="networks">
        <li class="service email">
          <a class="icon bP" href="mailto:hello@blankazucenalg.com" target="_blank" title="Email">
            <span class="fa fa-envelope-o"></span>
          </a>
        </li>
        <li class="service github">
          <a class="icon bP" href="https://github.com/blankazucenalg" target="_blank" title="GitHub">
            <span class="fa fa-github"></span>
          </a>
        </li>
        <li class="service twitter">
          <a class="icon bP" href="https://twitter.com/blankazucenalg" target="_blank" title="Twitter">
            <span class="fa fa-twitter"></span>
          </a>
        </li>

        <li class="service linkedin">
          <a class="icon bP" href="https://www.linkedin.com/in/blankazucenalg/" target="_blank" title="LinkedIn">
            <span class="fa fa-linkedin"></span>
          </a>
        </li>
        <!-- <li class="service deviantart">
          <a class="icon bP" href="https://www.deviantart.com/blankazucenalg" target="_blank" title="deviantart">
            <span class="fa fa-deviantart"></span>
          </a>
        </li> -->
        <!--li class="service lastfm">
          <a class="icon bP" href="https://www.last.fm/es/user/blankazucenalg" target="_blank" title="Lastfm">
            <span class="fa fa-lastfm"></span>
          </a>
        </li-->
        <!-- <li class="service spotify">
          <a class="icon bP" href="https://open.spotify.com/user/12126847988" target="_blank" title="Spotify">
            <span class="fa fa-spotify"></span>
          </a>
        </li> -->

      </ul>
      <hr>
      <p class="label-text center-align">Acerca de</p>
      <p class="profile-subtitle px-5">Decidí a darle vida a este pequeño espacio con la finalidad de compartir detalles
        relacionados al desarrollo de
        software y visualización de datos. Tal vez juntos podamos seguir expandiendo lo que sabemos y aportar nuestro
        granito de arena.</p>
    </div>
  </div>
</div>
<!-- /.blurb -->
