---
layout: sidenav
title: Blanca Azucena López Garduño
---

<div class="posts fixed">
  {% for post in site.posts %}
  <div class="post">
    <a href="{{ post.url }}" title="{{ post.title }}">
      <h2 class="post-title">{{ post.title }}</h2>
    </a>
    <!-- <span>{{ post.date | date_to_string }}</span> -->
    {% include post_header.html %}
    <img src="{{ post.image }}" alt="{{ post.imageAltText }}" srcset="" />
    <div>
      {% if post.description %} {{ post.description }} {% else %} {{
      post.excerpt }} {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
