footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text
        p.grey-text.text-lighten-4
        a.twitter-timeline(href="https://twitter.com/blankazucenalg" data-widget-id="345638105505746945") Tweets de @blankazucenalg.
        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .col.l4.offset-l2.s12
        h5.white-text Contact
        ul
          li
            a.grey-text.text-lighten-3(href='https://twitter.com/blankazucenalg' target="_blank")
              md-icon
                img(src="assets/images/twitter_logo.png" width="30")
              |  Twitter
          li
            a.grey-text.text-lighten-3(href='mailto:blankazucenalg@gmail.com')
              md-icon.material-icons mail
              |  Email
  .footer-copyright
    .container
      | &copy; 2017 Blanca Azucena López Garduño
      a.grey-text.text-lighten-4.right(href='#!') Mexico
