nav
  .nav-wrapper
    ul
      li
        a.brand-logo(href='#')
          md-icon.white-text.material-icons polymer
          |  Blanca Azucena
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='#') About me
      li
        a(href='#') Gallery
      li
        a(href='#') Stuff
