nav.text-white
  .nav-wrapper.container
    ul
      li
        a.brand-logo(href='#')
          | Blanca Azucena
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='#') About me
      li
        a(href='#') Gallery
      li
        a(href='#') Stuff
