/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#menu {
  position: fixed;
  background: #eee;
  padding: 0px 15px;
  opacity: 0.95;
  top: 40%;
  color: #333;
}
.typewriter {
  font-family: 'Slabo 27px', 'Indie Flower', monospace;
  font-size: 1.1em;
}
.card-image img.img-responsive {
  width: 100%;
}
.container .section {
  background: white;
}
.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: $primary-color;
}

footer.page-footer {
  margin: 0;
}
