<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-114197026-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-114197026-2");
    </script>
    <!-- Title website -->
    <title>{{ page.title }} - Azucena López</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 155 }}{% else %}{{ site.description }}{% endif
			%}"
    />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta
      property="og:image"
      content="{% if page.image %}{{ page.image }}}{% else %}https://scontent.fmex14-1.fna.fbcdn.net/v/t1.0-9/556748_453510564659296_1351327878_n.jpg?_nc_cat=0&oh=bceaa2ae13136012d588f28af90e2d70&oe=5B70BBC0{% endif %}"
    />

    <meta
      property="og:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 155 }}{% else %}{{ site.description }}{% endif
			%}"
    />
    <meta property="article:author" content="Blanca Azucena López Garduño" />
    <!-- link to main stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Karla&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/code.css" />
  </head>

  <body>
    <div>{{ content }}</div>
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script
      id="dsq-count-scr"
      src="//blankazucenalg-com.disqus.com/count.js"
      async
    ></script>
  </body>
</html>
