<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114197026-2"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());

				gtag('config', 'UA-114197026-2');
			</script>
			<!-- Title website -->
			<title>{{ page.title }} - Blanca López</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" type="text/css" href="/css/main.css">    
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">	

		</head>
		<body>
			<div class="nav">
				<ul>
					<li>
						<a href="/">HOME</a>
					</li>
					<li>
						<a href="/about">ABOUT</a>
					</li>
					<LI>
						<a href="/archive">ARCHIVE</a>
					</LI>
				</ul>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p class="center align">© All rights reserved | 2018</p>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		</body>
	</html>