html {
  font-family: 'Source Sans Pro';
}

p {
  font-size: 1.5rem;
}

.navbar {
  z-index: 9;
}

.navbar li a{
  font-size: 1.5rem;
}

.brand-logo {
  font-family: Lobster;
} 


html, body, .block {
  height: 100%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.rounded-img {
  border-radius: 50%;
}

.event {
  fill: #8c2a3a;
}